{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
  
  <h1>About our Clothes Store </h1>

  
  <p>Welcome to The Clothes Store! </p>
  <p>This company provides an online service where you can purchase any piece of clothing in a huge variety of brands from other users on this website. 
    In addition you can also sell your own clothes to others through here in just a few simple steps.</p>
  <p>Join us now by signing up to a brand new account!</p>
  <p>We are a family-friendly company and as this service is open for everyone, we would like to ask yous to kindly respect each other also.</p>
  <p>Thank you in behalf of all staff.</p>
  <img class="card-img float-right" style="width:400px" src = "{% static 'images/women-shopping.jpg' %}">
  

{% endblock content %}

