{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
  
  <h1>About our Clothes Store </h1>

  
  <p>Welcome to The Clothes Store! </p>
  <p>Here we provides an online service where you can purchase any piece of clothing in a huge variety of brands. 
  <p>Join us now by signing up to a brand new account!</p>
  <p>We are a family-friendly company and as this service is open for everyone, we would like to ask you to kindly respect others.</p>
  <p>Thank you.</p>
  <img class="card-img float-right" style="width:400px" src = "{% static 'images/women-shopping.jpg' %}">
  

{% endblock content %}

