{% extends 'base.html' %}
{% block title %}{{ item.title }}{% endblock title %}
{% block content %}
  
<div class="item-detail">
   
    {% if item.cover %}
      <img class="itemcover" src="{{ item.cover.url }}" alt="{{ item.title }}">
    {% endif %}
    <h2><a class="text-dark" href="">{{ item.title }}</a></h2>
    <p>Brand: {{ item.brand }}</p>
    <p>Price: {{ item.price }}</p>
  </div>

  <p><a href = "{% url 'post_edit' %}">+ Edit Item</a></p>
  <p><a href = "{% url 'post_delete' %}">Delete Item</a></p>
{% endblock content %}